@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  
html{
    font-family: "Pretendard", Pretendard, -apple-system, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: var(--font-size-pc,20px);
    font-weight: var(--font-medium);
    background-color: var(--back-color);
}

.commonFrame{
    width: 1280px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
strong{
    font-size: 1.2rem;
    font-weight: var(--font-bold);
}
b{
    font-weight: var(--font-bold);
}
em{
    text-decoration: underline;
}
i{
    color: var(--main-color);
}
h2{
    font-size: 3rem;
    font-weight: var(--font-bold);
    line-height: 1.1;

}
h3{
    font-size: 1.1rem;
    font-weight: var(--font-bold);
    line-height: 1.4;
}
h4{
    font-size: 1rem;
    font-weight: var(--font-bold);
    line-height: 1.4;
}

p{
    font-weight: var(--font-medium);
    line-height: 1.4;
}

section>h2{
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 3rem;
    color: var(--dark-color);
    text-align: center;
    margin-top: var(--space-large);
}
main>section>p{
    color: var(--dark-color);
    text-align: center;
    margin-top: var(--space-small);
}

.btn_common{
    padding: .25rem 2rem;
    font-family: "Playfair Display", "pretendard";
    font-size: 1.2rem;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    cursor: pointer;
    display: inline-block;
}
.btn_common:hover{
    border: 1px solid var(--main-color);
    box-shadow: 1px 1px 10%;
}

.btn_common.white{
    color: #fff;
    border: 1px solid #fff;
    font-size: 0.9rem;
}
.btn_common.white:hover{
    border: 1px solid #FF6262;
}