@media (max-width:1920px) {
    .mo_gnb {
        display: none;
    }

    .mo {
        display: none;
    }
}

@media (max-width:1280px) {

    html {
        font-size: var(--font-size-tab);
    }

    .commonFrame {
        width: auto;
        margin: 0 1rem;
    }

    .txt {
        bottom: 5rem;
        right: 0%;
    }

    .best_seller li {
        height: 20rem;
    }

    .commonFrame {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    main .hero>.station1 .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        right: 0 !important;
    }

    .story_list {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .product_list {
        grid-template-columns: repeat(3, 1fr);
    }

    .ingredients {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
        /* width: 100%; */
    }

    .ingredients figure {
        margin: 1rem;
        grid-row: 1/2;
        grid-column: 1 / 3;
    }

    .ingr_desc {
        flex-direction: column;
    }

    .ingr_txt {
        width: auto;
        text-align: center;
    }

    .cls1.ointment {
        background: url("../images/sub_c_1mo.jpg") no-repeat 20% 75% / cover;
    }

    .cls1 {
        justify-content: center;
        text-align: center;
    }

    .cls1>.commonFrame {
        backdrop-filter: blur(5px);
        background-color: rgb(255, 255, 255, .2);
        padding: 1rem;
    }

    .cls1>.commonFrame>* {
        justify-content: center;
        text-align: center;
    }

    .cls2 {
        justify-content: center;
        text-align: center;
    }

    .cls2>.commonFrame {
        backdrop-filter: blur(5px);
        background-color: rgb(255, 255, 255, .2);
        padding: 1rem;
    }

    .cls2>.commonFrame>* {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:812px) {

    /* html {font-size: var(--font-size-mobile);} */
    header {
        display: none;
    }

    .pc {
        display: none;
    }

    .mo {
        display: block;
    }

    .logo img {
        height: 2rem;
        object-fit: contain;
    }

    .mo_gnb {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        display: block;
        /* display: grid;
        grid-template-columns: repeat(1,3fr);
        grid-template-rows: 7rem calc(100% - 14rem) 5rem;
        gap: 1rem;
        box-sizing: border-box; */

        background: linear-gradient(0deg, rgba(71, 56, 42, 0.7), rgb(32, 32, 32, 0.7));
        color: #fff;
        font-weight: 400;
        text-align: center;

        overflow: hidden;
        transition: all .8s ease 0s;
        z-index: 1000;
        backdrop-filter: blur(8px);
    }

    .mo_gnb.on {
        height: 100vh;
        background: var(--gra-color3);
    }

    .mo_gnb_mid {
        overflow: hidden;
        margin-top: 3rem;
    }

    .btn_gnb_open {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 30%);
    }

    .btn_gnb_open>img {
        transform: rotate(180deg);
        cursor: pointer;
        margin-bottom: var(--space-small);
        transition: all .8s ease 0s;
        width: 50%;

    }

    .btn_gnb_open>img.rotate {
        transform: rotate(0deg);
    }

    .mo_gnb_mid>li {
        margin-bottom: .5rem;
        background-color: rgba(0, 0, 0, 0.5);

        transition: all .8s ease 0s;

        position: relative;
    }

    .mo_gnb_mid>li::after {
        content: "";
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 1rem;
        height: 1rem;
        background: url("../images/icn_arrow.svg") no-repeat 50% 50% / contain;
        transform: rotate(180deg);
        transition: all .4s ease 0s;
    }

    .mo_gnb_mid>li:hover:after {
        transform: rotate(0deg);

    }

    .mo_gnb_mid>li a {
        display: flex;
        height: 3rem;
        align-items: center;
        padding-left: 10px;
        box-sizing: border-box;
        /* border: 1px solid blue; */
    }

    .mo_gnb_mid>li .depth2 {
        position: static;
        display: block;

        transform: translateX(0%);
        padding: 0;
        gap: 0;

        text-align: left;
        width: auto;
        max-height: 0rem;
        margin: 0 1rem 1rem 1rem;
        box-sizing: border-box;

        overflow: hidden;

        transition: all .5s ease 0s;
    }



    .dp2_left>ul li {
        margin-bottom: 0;
    }

    .mo_gnb_mid .depth2 li>a {
        height: 2rem;
    }

    .mo_gnb_mid .depth2 p {
        display: none;
    }

    .mo_gnb_mid .depth2 h3 {
        display: none;
    }

    .mo_gnb_mid .depth2 span {
        display: none;
    }

    .mo_gnb_mid>li:hover>.depth2 {
        max-height: 32rem;
    }

    .search {
        display: none;
    }

    .dp2_right {
        margin: var(--space-small) 0;
    }

    .dp2_right img {
        width: 100%;

    }

    footer {
        height: auto;
        align-items: center;
        text-align: center;
    }

    footer>.commonFrame {
        flex-direction: column-reverse;
    }

    .foot1>ul {
        justify-content: center;
    }

    .foot2 {
        margin-bottom: var(--space-middle);
    }

    .tabs_title {
        text-align: center;
        margin-bottom: var(--space-xsmall);
    }

    .commonFrame.product1 ul {
        margin-top: var(--space-middle);
    }

    .commonFrame.product1 {
        margin-bottom: var(--space-xlarge);
    }

    .commonFrame.product_detail {
        flex-direction: column;
    }

    .detail_txt {
        width: 100%;
    }
}

@media (max-width:768px) {
    html {
        font-size: var(--font-size-mobile);
    }

    .best_list>li img {
        height: 18rem;

    }

    .BurtsClassic1 {
        height: 40rem;
        width: 100%;
        background: url("../images/sub_c_1mo.jpg") no-repeat 50% 70% / cover;
    }

    .BurtsClassic2 {
        height: 40rem;
        background: url("../images/sub_c_mo2.jpg") no-repeat 50% 70% / cover;
    }

    .BurtsClassic3 {
        height: 40rem;
        background: url("../images/sub_c_mo3.jpg") no-repeat 50% 70% / cover;
    }


    .BurtsClassic1>.commonFrame {
        justify-content: center;
        /* background-color: rgba(255, 255, 255, 0.5); */

    }

    .BurtsClassic2>.commonFrame {
        justify-content: center;
        /* background-color: rgba(255, 255, 255, 0.5); */

    }

    .BurtsClassic3>.commonFrame {
        justify-content: center;
    }

    .classic_txt.reverse {
        transform: translateX(0%);
    }

    .classic_txt {
        transform: translateX(0%);
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 8rem;
        height: 60%;
        width: 60%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .classic_list {
        grid-template-columns: repeat(1, 3fr);
        gap: 0;
    }

    .classic_list>li {
        position: relative;

    }

    .classic_list>li figure {
        margin-bottom: 0;
    }

    .classic_list a {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .classic_list img {
        margin-bottom: 0;
        object-fit: cover;
    }

    .classic_desc {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    .classic_desc>* {
        color: #fff;
    }

    .classic::after {
        display: none;
    }

    .gallery>figure>ul {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(0rem, auto);
        gap: 0;
        height: 41rem;
    }

    .product_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .desc1,
    .desc2 {
        display: flex;
        justify-content: center;
    }

    .desc1_txt,
    .desc2_txt {
        width: 80%;
        text-align: center;
    }

    .fliter_tab_tag {
        flex-direction: column;
        text-align: center;
        width: 90%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }


}