@media (max-width:1920px) {
    .mo_gnb{
        display: none;
    }
}
@media (max-width:1280px) {

    html {font-size: var(--font-size-tab);}

    .commonFrame{
        width: auto;
        margin: 0 1rem;
    }
    .txt{
        bottom: 5rem;
        right: 0%;
    }
}

@media (max-width:768px){
    html {font-size: var(--font-size-mobile);}
    header{
        display: none;
    }
    .mo_gnb{
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg,rgba(71, 56, 42, 0.7),rgb(32, 32, 32, 0.7));
        color: #fff;
        font-weight: 400;
        text-align: center;
        height:60rem;
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        overflow: hidden;
        transition: all .8s ease 0s;
        z-index: 1000;
        backdrop-filter: blur(8px);
        padding: var(--space-small) 0;
    }

    .btn_gnb_open{
        transform: rotate(180deg);
        cursor: pointer;
        margin-bottom: var(--space-small);
    }
    .Mgnb>li>a{
        display: flex;
        height: 50px;
        align-items: center;
        padding-left:10px;
        box-sizing: border-box;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        margin-bottom: .5rem;
    }
    .Mgnb>li a{
        display: flex;
        height: 3rem;
        align-items: center;
        padding-left:10px;
        box-sizing: border-box;
    }
    .Mgnb .depth2{
        position: static;
        flex-direction: column;
    }
    .Mgnb .depth2{
        height: 200px;
        overflow: hidden;
        transition: all 0.5s ease 0s;
    }
    .Mgnb>li:hover>.depth2{
        height: 130px;
    }
    
}