
header{
    background: linear-gradient(0deg,rgba(71, 56, 42, 0.7),rgb(32, 32, 32, 0.7));
    color: #fff;
    font-weight: 400;
    text-align: center;
    height: 5rem;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    overflow: hidden;
    transition: all .8s ease 0s;
    z-index: 1000;
    backdrop-filter: blur(8px);
}


header:hover {
    background: var(--gra-color3);
    /* height: 7.5rem; */
}

header .gnb li:hover {
    max-height: 30rem; /* li에 호버하면 최대 높이가 30rem로 증가 */
}

.logo{
    padding: 1rem 0;
}

.logo img{
    height: 2.5rem;
    object-fit: contain;
}

.gnb{
    display: flex;
    justify-content: center;
    /* gap: 4.5rem; */
    position: relative;
}

.gnb>li>a{
    display: flex;
    height: 3rem;
    align-items: center;
    padding: 0 2rem;
}

.gnb>li:hover{
    border-bottom: 1px solid rgb(255, 255, 255,0.8);
}
.gnb li:hover >a{
    color: var(--main-color);
    border-bottom: 1px solid rgb(255, 255, 255,0.8);
}

.depth2{
    /* background: var(--gra-color2); */
    position: absolute;
    top: 3rem; left: 50%;
    transform: translateX(-50%);
    padding: 4.5rem 0;
    gap: 3.5rem;
    text-align: left;
    width: 60%;
    justify-content: center;
    display: none;
    transition: all .5s ease 0s;
}

.depth2>section{
    flex: 1;
}

.depth2 li{
    font-weight: var(--font-bold);
}

.dp2_left span{
    width: 5rem;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: var(--space-small) 0;
}

.dp2_left .playfair-display{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.dp2_right>img{
    width: 100%;
    object-fit: contain;
}
.dp2_right>p{
    text-align: center;
}

.dp2_left>ul{
    margin-top: 1rem;
}
.dp2_left>ul li{
    margin-bottom: 1rem;
}

.gnb>li:hover>.depth2{
    display: flex;
}


/* station */

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
}
.station1{
    width: 100%;
    height: 100%;
}
.station1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.txt{
    position: absolute!important;
    bottom: 5rem; right: 10rem;
    text-align: right;
    transition: all 1s ease .6s;
    box-sizing: border-box;
    gap: 1rem;

}

.txt>*{
    opacity: 0;
    /* height: 0; */
    /* overflow: hidden; */
    transform: translateY(25px);
    transition: all 1s ease 0.7s;
    margin: 1rem 0;

}

.txt>span{
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    box-sizing: border-box;
}
.txt>h2{
    font-size: 3.5rem;
    font-weight: 800;
}
.txt>h3{
    font-size: 1.4rem;
    font-weight: var(--font-thin);
}

.swiper-slide-active .txt>*{
    opacity: 1;
    /* height: 100px; */
    transform: translateY(0px);
    /* border: 1px solid blue; */
}

main{
    min-height: 100rem;
    /* position: relative; */
}

/* bestSeller */
.best_seller{
    text-align: center;
    margin-bottom: var(--space-xlarge);
}

.best_list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: var(--space-small);
    margin-top: var(--space-middle);
}
.best_list>li{
    background-color: #fff;
    box-shadow:  0px 0px 5px #ddd;
    height: 15rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best_list>li img{
    height: 10rem;
    object-fit: contain;
    transition: all .5s ease 0s;
}

.best_list>li:hover img{
    height: 13rem;
    transform: rotate(-5deg);
}

.best_seller .btn_common{
    margin: var(--space-middle) 0;
}

/* classic */

.classic{
    margin-bottom: var(--space-xlarge);
    position: relative;
}
.classic h2{
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 3rem;
    color: var(--dark-color);
    text-align: center;
    margin-top: var(--space-large);
}
.classic p{
    color: var(--dark-color);
    text-align: center;
    margin-top: var(--space-small);
}

.classic_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-top: var(--space-middle);
    width: 100%;
    height: 100%;
    z-index: 100;

}
.classic_list>li div{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: var(--space-small);

}
.classic_list img{
    margin-bottom: var(--space-small);
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .5s ease 0s;
}
.classic_list img:hover{
    transform: scale(110%);
}
.classic_list p{
    text-align: center;
    color: var(--dark-color);
}
.classic_img{
    position: relative;
}
.classic_img:after{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(0deg, rgba(252, 191, 68, 0.6),rgba(252, 191, 68, 0.2));
    pointer-events: none;
    transition: all .5s ease 0s;
}
.classic_img:hover:after{
    opacity: 0;
}

.classic::before{
    content: "";
    position: absolute;
    bottom: -7rem; left: 0;
    background-color: var(--main-color);
    width: 100%;
    height: 24em;
    z-index: -1;
    opacity: .8;
}

.classic::after{
    content: "";
    position: absolute;
    bottom: 20%; right: 0;
    background: url("../images/hexagon_3.svg") no-repeat 10% 50% / contain;
    width: 30%;
    height: 50%;
    z-index: -1;

}

.banner{
    width: 100%;
    height: 23rem;
    /* overflow: hidden; */
    background: url("../images/banner-mid.jpg") no-repeat 50% 50% / cover;
    display: flex;
    align-items: center;
}

.banner>.commonFrame>*{
    color: #fff;
    text-align: left;
    font-family: "Pretendard";
    font-weight: 600;
    margin-top: 0.5rem;
}
.banner>.commonFrame>a{
    margin-top: var(--space-middle);
}
.banner>.commonFrame>p{
    font-weight: var(--font-thin);
}

/* 인스타 게시물 갤러리 */
.gallery{
    margin-top: var(--space-xlarge);
    margin-bottom: var(--space-large);
}
.gallery h2{
    margin-bottom: var(--space-large);
}
.gallery>figure>ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(20rem,auto);
    gap: 1rem;
    height: 41rem;
}
.gallery>figure>ul li a{
    display: block;
    width:100%;
    height:100%;
}
.gallery>figure>ul li{
    position: relative;
}
.gallery>figure>ul li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}
.gallery>figure>ul li:hover:after{
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(7px);

}
.gallery>figure>ul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* .gallery>figure>ul:hover{
    filter: blur(2px);
} */
.gallery>figure>ul a:hover li{
    filter: none;
}

/* footer */
footer{
    width: 100%;
    height: 15rem;
    background-color: black;
    color: #fff;
}
footer>.commonFrame{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--space-large);
}
.foot1>*{
    margin-bottom: 1rem;
}

.foot1>ul{
    display: flex;
    gap: 1rem;
}

.foot1 ul li{
    margin-right: var(--space-small);
}

.foot_logo img{
    height: 2.5rem;
    object-fit: contain;
}
.foot2>*{
    text-align: center;
    margin-bottom: var(--space-small);
}
.foot_sns{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

footer a:hover{
    color: var(--main-color);
}

/* 서브페이지 제목 배너 */

.sub_banner{
    /* border: 1px solid red; */
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 1rem;
}
.sub1{
    background:
    linear-gradient(0deg,var(--dark-color),rgba(0, 0, 0, 0.8)),
    url("../images/sub_ban1.jpg") no-repeat 50% 10% / cover;
    background-blend-mode: multiply;
}

.banner_txt h2{
    font-family: "Playfair Display", serif;
    font-weight: 800;
    margin-bottom: var(--space-small);
}

.story_list{
    display: flex;
    justify-content: space-between;
    margin: var(--space-large) auto;
}
.story_list li{
    text-align: center;
}
.story_list div{
    padding: 2rem;
    width: 5rem;
    position: relative;
    transition: all .3s ease 0s;

}
.story_list div:before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    background: url("../images/hexagon.svg") no-repeat 50% 50% / contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.story_list li>a:hover>div img{
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}
.story_list div:hover:before{
    filter: invert(10%) sepia(50%) hue-rotate(-10deg) saturate(300%);
}

.story_list>li p{
    margin-top: .5rem;
}

/* story */
#story1{
    width: 100%;
    height: 970px;
    background:
    linear-gradient(90deg,#000,rgba(0, 0, 0, 0.5)),
    url("../images/story-1.jpg") no-repeat 50% 50% / cover;
    color: #fff;
    display: flex;
    align-items: center;

}

.desc1_txt{
    width: 60%;
}
.desc1_txt>*{
    margin-bottom: var(--space-small);
}
.desc1 h4{
    font-weight: var(--font-thin);
}
.desc1_txt h3{
    margin-bottom: var(--space-middle);
}
/* story2 */
#story2{
    width: 100%;
    height: 970px;
    background:
    linear-gradient(-90deg,#000,rgba(0, 0, 0, 0.5)),
    url("../images/story-2.jpg") no-repeat 50% 50% / cover;
    color: #fff;
    display: flex;
    align-items: center;
}

.desc2{
    display: flex;
    justify-content: flex-end;
}

.desc2_txt{
    width: 60%;
    text-align: right;
}
.desc2_txt>*{
    margin-bottom: var(--space-small);
}
.desc2 h4{
    font-weight: var(--font-thin);
}
.desc2_txt h3{
    margin-bottom: var(--space-middle);
}

/* story3 */

#story3{
    width: 100%;
    height: 970px;
    background:
    linear-gradient(90deg,#000,rgba(0, 0, 0, 0.5)),
    url("../images/story-3.jpg") no-repeat 50% 50% / cover;
    color: #fff;
    display: flex;
    align-items: center;
}
#story4{
    width: 100%;
    height: 970px;
    background:
    linear-gradient(-90deg,#000,rgba(0, 0, 0, 0.5)),
    url("../images/story-4.jpg") no-repeat 50% 50% / cover;
    color: #fff;
    display: flex;
    align-items: center;
}
#story5{
    width: 100%;
    height: 970px;
    background:
    linear-gradient(90deg,#000,rgba(0, 0, 0, 0.5)),
    url("../images/story-5.jpg") no-repeat 50% 50% / cover;
    color: #fff;
    display: flex;
    align-items: center;
}

/* 클래식단 */

.BurtsClassic1{
    width: 100%;
    height: 30rem;
    background: url("../images/sub_c_1.jpg") no-repeat 50% 50% / cover;
}
.BurtsClassic1>.commonFrame{
    height: 100%;
    display: flex;
    align-items: center;
}
.BurtsClassic2{
    width: 100%;
    height: 30rem;
    background: url("../images/sub_c_2.jpg") no-repeat 50% 50% / cover;
}
.BurtsClassic2>.commonFrame{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.BurtsClassic3{
    width: 100%;
    height: 30rem;
    background: url("../images/sub_c_3.jpg") no-repeat 50% 50% / cover;
}
.BurtsClassic3>.commonFrame{
    height: 100%;
    display: flex;
    align-items: center;
}

.classic_txt{
    /* border: 1px solid red; */
    text-align: center;
    transform: translateX(60%);
}
.classic_txt.reverse{
    transform: translateX(-60%);

}
.classic_txt>*{
    margin-bottom: .5rem;
}

.classic_txt>img{
    height: 10rem;
    width: 10rem;
}
.classic_txt h2{
    font-size: 2rem;
}

.classic_txt .btn_common{
    margin-top: var(--space-small);
}


.sub_banner.cls_ban1{
    background:
    linear-gradient(0deg,var(--dark-color),rgba(0, 0, 0, 0.8)),
    url("../images/ban_cls_sub_1.jpg") no-repeat 50% 20% / cover;
    background-blend-mode: multiply;
    padding-top: 3rem;
    flex-direction: column;
}
.sub_banner.cls_ban2{
    background:
    linear-gradient(0deg,var(--dark-color),rgba(0, 0, 0, 0.8)),
    url("../images/ban_cls_sub_2.jpg") no-repeat 50% 20% / cover;
    background-blend-mode: multiply;
    padding-top: 3rem;
    flex-direction: column;
}
.back_icn{
    margin: var(--space-small);
    margin-bottom: var(--space-middle);
    opacity: 80%;
}
.sub_banner.cls_ban1 h4{
    margin-bottom: 0;
}
.sub_banner h3{
    font-size: 2rem;
    font-weight: var(--font-mideum);
}
.sub_banner h4{
    font-size: 1.2rem;
    font-weight: var(--font-mideum);
    margin-bottom: var(--space-small);
}
.cls1{
    width: 100%;
    height: 38rem;
    display: flex;
    align-items: center;
}
.cls1>.commonFrame>*{
    margin-bottom: 1rem;
}

.cls1>.commonFrame>h4{
    font-weight: var(--font-mideum);
    font-size: 1.2rem;
    margin-bottom: 0;
}

.cls1.ointment{
    background: url("../images/sub_c_1.jpg") no-repeat 80% 50% / cover;
}
.cls1.beesWax{
    background: url("../images/sub_c_3.jpg") no-repeat 80% 50% / cover;
}

.cls2{
    width: 100%;
    height: 38rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cls2>.commonFrame>*{
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
    text-align: right;

}

.cls2>.commonFrame>h4{
    font-weight: var(--font-mideum);
    font-size: 1.2rem;
    margin-bottom: 0;
}

.cls2.lemonButter{
    background: url("../images/sub_c_2.jpg") no-repeat 20% 50% / cover;
}

.keyword_list{
    display: flex;
    text-align: center;
    gap: 1rem;
}
.keyword_list>li{
    background: url("../images/hexagon.svg") no-repeat center / cover;

    height: 9rem;
    width: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.ointment .keyword_list>li{
    filter: hue-rotate(40deg) saturate(60%);
}
.lemonButter .keyword_list>li{
    filter: hue-rotate(10deg) saturate(90%) brightness(150%);
}

.keyword_list p{
    font-size: .8rem;
}

.ingredients{
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: var(--space-large);
}
.ingredients figure{
    margin: 1rem;
}
.ingredients figure>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ingredients figure>h3{
    font-size: 1.8rem;
    color: var(--dark-color);
    text-align: center;
    margin-top: 1rem;
}

.ingr_desc{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 2px solid var(--dark-color);
    padding: var(--space-small);
    width: 20rem;
    gap: 1rem;
}
.ingr_desc figure{
    width: 5rem;
    height: 100%;
    object-fit: cover;
    text-align: center;
    transition: all .5s ease 0s;
}

.ingr_txt{
    width: 13rem;
}

.ingr_txt>*{
    margin-bottom: .5rem;
    color: var(--dark-color);
}
.ingr_txt>p{
    margin-bottom: 0;
    font-size: .9rem;
}
.ingr_right>.ingr_desc{
    flex-direction: row-reverse;
}

.ingr_desc:hover>figure{
    transform: scale(120%);
}

.aroma_list{
    display: flex;
    gap: 1rem;
    margin-top: var(--space-middle);
}
.aroma figure img{
    flex: 1;
}
.aroma>figure>p{
    text-align: center;
    color: var(--dark-color);
    margin-top: var(--space-small);
}
.mid_banner{
    width: 100%;
    height: 20rem;
    margin-top: var(--space-large);
}
.mid_banner.resQ{
    background: url("../images/ban_cls_sub_1.jpg") repeat 50% 50% / cover;
}
.mid_banner.lemonButter{
    background: url("../images/ban_cls_sub_2.jpg") repeat 50% 50% / cover;
}

.howUse{
    width: 100%;
    height: 970px;
}
.howUse.resQ .commonFrame{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.howUse.resQ{
    background: url("../images/ban_resq_use.jpg") no-repeat center / cover;
}
.howUse.lemonButter .commonFrame{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: center;
}
.howUse.lemonButter{
    background: url("../images/ban_lemon_use.jpg") no-repeat center / cover;
}
.useTXT{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.use_txtH h3{
    font-weight: var(--font-mideum);
}
.use_txtD{
    margin-top: 1.5rem;
}

/* more products */
.Mproduct_list{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    margin: var(--space-middle) 0;
    margin-bottom: var(--space-xlarge);
}
.Mproduct_list>li{
    /* border: 1px solid red; */
    padding: 1rem;
    /* box-shadow: 0 0 5px #eee;
    background-color: #fff; */
}
.Mproduct_list>li>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: var(--dark-color);
}